# Xcode noise
build/*
*.pbxuser
*.mode1v3
*.xcuserstate
!default.pbxuser
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

# osx noise
.DS_Store

# Generated Project
*.xcodeproj/**
!*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
